{% extends "base.html" %}
{% block extra_meta %}
<meta name="robots" content="noindex" />
{% endblock extra_meta %}
{% block title %}{% trans "Oops, something (bad) happened" %} :( - MegaCrypter{% endblock title %}
{% block content %}
<div class="info_box info_error">
    {% block icon %}<img class="info_box_icon" src="/images/error.png" alt="error" />{% endblock %}
    <div class="info_box_message"><strong>{% block error_message %}{% endblock error_message %}</strong></div>
</div>
{% endblock content %}