{% extends "base.html" %}
{% block extra_js %}
<script type="text/javascript" src="/js/cover.js"></script>
{% endblock extra_js %}
{% block content %}
<div id="crypt_form">
<form class="spinner_form" method="POST" action="/crypt" id="jc_form" >
    <p><textarea id="plain_textarea" name="links" wrap="off"></textarea></p>
    <input type="checkbox" id="tos_ok" name="tos_ok" value="yes" /><label id="tos_ok_label" for="tos_ok" title="{% trans "You must agree before" %}"><em>{% trans "I agree with MC" %} <a class="fancybox" data-fancybox-type="iframe" href="/tos">{% trans "Terms of Service" %}</a></em></label>
    <p><img class="spinner" src="/images/loading.gif" alt="loading" /><input id="button_crypt" class="button_submit_disabled" type="submit" value="{% trans "Encrypt links" %}" /></p>
    <p id="dlock_warning" class="warning_message">{% trans "Remember that protected links will only be downloadable with a manager unless you activate the <em>domain-lock</em> protection (see advanced options)." %}</p>
    <p style="text-align:right;"><label for="advanced_mode" title="{% trans "Enable advanced options" %}"><input type="checkbox" id="advanced_mode" name="advanced_mode" value="yes" /><em>{% trans "Advanced options" %}</em></label></p>
    <div style="text-align:left;" id="adv_fields">
        <p>{% trans "Expire" %}: <select name="expire" id="expire">
                <option value="0" selected>{% trans "Never" %}</option>
                <option value="1">10 {% trans "minutes" %}</option>
                <option value="2">1 {% trans "hour" %}</option>
                <option value="3">1 {% trans "day" %}</option>
                <option value="4">1 {% trans "week" %}</option>
                <option value="5">2 {% trans "weeks" %}</option>
                <option value="6">1 {% trans "month" %}</option>
                <option value="7">3 {% trans "months" %}</option>
                <option value="8">6 {% trans "months" %}</option>
                <option value="9">1 {% trans "year" %}</option>
        </select></p>
        <p><label for="no_expire_token" title="{% trans "Allow no-expire-token" %}" id="no_exp_tok" ><input type="checkbox" id="no_expire_token" name="no_expire_token" value="yes" checked />{% trans "Allow no-expire-token" %}</label></p>
        <p><label for="app_finfo" title="{% trans "Append file info to encrypted links" %}"><input type="checkbox" id="app_finfo" name="app_finfo" value="yes" />{% trans "Append file info (slower)" %}</label></p>
        <p><label for="tiny_url" title="{% trans "Returns short crypted links" %}"><input type="checkbox" id="tiny_url" name="tiny_url" value="yes" />{% trans "Return short urls (slower)" %}</label></p>
        <p><label for="hide_name" title="{% trans "Check it for maximum security against crawlers." %}"><input type="checkbox" id="hide_name" name="hide_name" value="yes" />{% trans "Mask filenames even at download time" %}</label></p>
        <div id="cover_text_fields"><p id="referer_block">{% trans "Domain lock" %}: <input title="{% trans "Links will be accessible ONLY from this domain" %}" id="referer" class="input_text" type="text" name="referer" maxlength="{{constant('Utils_MegaCrypter::MAX_REFERER_BYTES')}}"></p>
        <p>{% trans "Extra info" %}: <input title="{% trans "Put here any relevant information about the links." %}" id="extra_info" class="input_text" type="text" name="extra_info" maxlength="64"></p>
        <p>{% trans "Email" %}: <input title="{% trans "Put here an email to alert you in case that something happens with your links" %}" id="email" class="input_text" type="text" name="email" maxlength="64"></p>
        <p>{% trans "Password" %}: <input title="{% trans "Case sensitive!" %}" id="pass" class="input_text" type="text" name="pass" maxlength="{{constant('Utils_MegaCrypter::MAX_EXTRA_BYTES')}}"></p>
        <p id="pass_warning" class="warning_message">{% trans "Beware that password protected links might not yet be compatible with some download managers!" %}</p></div>
    </div>
</form>
</div>
{% endblock content %}
