{% extends "base.html" %}
{% block extra_meta %}
<meta name="robots" content="noindex" />
{% endblock extra_meta %}
{% block title %}{{name|slice(0,65)}} - MegaCrypter{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
{% block extra_js %}
{% if expire is defined %}
<script type="text/javascript">var timer_total = {{expire}};</script>
{% endif %}
<script type="text/javascript" src="/js/link.js"></script>
{% endblock extra_js %}
{% block content %}
<div id="file_info">
    {% if backdoor is defined %}
    <div id ="backdoor"><a href="{{backdoor}}" target="_blank">{{backdoor}}</a></div>
    {% else %}
    {% if expire is defined %}<div id="timer" title="{% trans "This link will expire in" %}..."></div>{% endif %}
    <div id="main"><div id="name" title="{{name}}">{% if (pass is defined) and (pass) %}<span id="pass_link"><img src="/images/lock_mini.png" /></span>{% endif %}{{name_trunc}}</div><div>[<span {% if size %}id="size">{{size}}{% else %}id="zero_size">{% trans "EMPTY FILE" %}{% endif %}</span>]</div></div>
    {% if extra is defined %}<div id="extra"><em>{{extra}}</em></div>{% endif %}
    <div id="referer">( Ref -> <a href="{{referer}}" target="_blank">{{domain_lock}}</a> )</div>
	{% endif %}
</div>
{% endblock content %}