{% extends "base_frame.html" %}
{% block title %}{% trans "Terms of Service" %}{% endblock title %}
{% block content %}
<body class="fancy_frame" id="tos">
<h1>{% trans "TERMS OF SERVICE" %}</h1>
<p>1. {% trans "<a href=\"https://megacrypter.com\" target=\"_blank\" >MegaCrypter</a> (a.k.a. MC) is an open-source anonymous crypted url forwarding software for <a href=\"https://mega.co.nz\" target=\"_blank\" >mega.co.nz</a> (a.k.a. MEGA) links" %}.</p>
<p>2. {% trans "MC does not host, index nor stream any MEGA file" %}.</p>
<p>3. {% trans "MC does not log any kind of user data" %}.</p>
<p>4. {% trans "As MC user, you MUST NOT use it to perform ANY KIND of illegal activity including infringing any copyright or other proprietary rights of any person or entity." %}</p>
<p>5. {% trans "This site is not responsible for and has no knowledge and/or control over any content of any MEGA link forwarded from any MC link" %} {% if constant('TAKEDOWN_TOOL') %}( {% trans "Something to report?" %} -> <a href="/takedown" target="_blank">Take down tool</a> ){% endif %}</p>
<p id="accept">({% trans "If you do not agree to these terms of service, please leave this site now" %}).</p>
</body>
{% endblock content %}