<?php

    define('URL_BASE', 'http://megacrypter.yourdomain.com'); //Domain or subdomain is required (API URL is fixed to root path) 
    define('MASTER_KEY', 'ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff'); //You MUST generate a random 128/192/256 bits AES key (hex string format) 
    define('GENERIC_PASSWORD', ''); //You MUST generate a password for some stuff (recommended at least 16 random bytes base64-encoded)
    define('GOOGLE_URL_SHORT_API_KEY', ''); //Required for tiny urls https://developers.google.com/url-shortener/v1/getting_started
    define('MEGA_API_KEY', ''); //Not used (for now) https://mega.co.nz/#sdk
    
    define('STOP_IT_ALL', false);
    define('WEB_MAINTENANCE', false);
    define('ERROR_LOG', false);
    define('API_VERSION', '0.7');
    
    define('BLACKLIST_LEVEL', Utils_MegaCrypter::BLACKLIST_LEVEL_OFF); //Disabled by default (ensure memcache is installed and running for optimal blacklist performance)
    define('BLACKLIST_MEMCACHE_PREFIX', 'BLACKLIST_');
    define('ZOMBIE_LINKS', false);
    
    define('TAKEDOWN_TOOL', false); //Disabled by default
    define('RECAPTCHA_PUBLIC_KEY', ''); //Required for TAKEDOWN TOOL www.google.com/recaptcha
    define('RECAPTCHA_PRIVATE_KEY', '');
    
    define('CURL_USERAGENT', 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36');
    define('_CURLPROXY_SOCKS5_HOSTNAME', 7);
    define('TOR_PROXY_SOCKS', '127.0.0.1:9050');
